.forecast {
    display: flex;
    text-align: center;
}

.tomorrow {
    padding-left: 10px;
}

.dayAfter {
    padding-left: 10px;
}

.forcastDay img {
    margin-right: 5px;
}

.forecastDetail {
    text-align: left;
    font-size: 14px;
    margin-left: 10px;
    margin-top: -25px;
}

.detailIcon {
    margin-right: 5px;
}
